@font-face {
    font-family: "Montserrat-Black";
    src: url("../fonts/Montserrat-Black.eot");
    src: local("☺"), url("../fonts/Montserrat-Black.woff") format("woff"),
        url("../fonts/Montserrat-Black.ttf") format("truetype"), url("../fonts/Montserrat-Black.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.eot");
    src: local("☺"), url("../fonts/Montserrat-Bold.woff") format("woff"),
        url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Nunito-Bold";
    src: url("../fonts/Nunito-Bold.eot");
    src: local("☺"), url("../fonts/Nunito-Bold.woff") format("woff"), url("../fonts/Nunito-Bold.ttf") format("truetype"),
        url("../fonts/Nunito-Bold.svg") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Nunito-SemiBold";
    src: url("../fonts/Nunito-SemiBold.eot");
    src: local("☺"), url("../fonts/Nunito-SemiBold.woff") format("woff"),
        url("../fonts/Nunito-SemiBold.ttf") format("truetype"), url("../fonts/Nunito-SemiBold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nunito-Regular";
    src: url("../fonts/Nunito-Regular.eot");
    src: local("☺"), url("../fonts/Nunito-Regular.woff") format("woff"),
        url("./fonts/Nunito-Regular.ttf") format("truetype"), url("../fonts/Nunito-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nunito-Light";
    src: url("../fonts/Nunito-Light.eot");
    src: local("☺"), url("../fonts/Nunito-Light.woff") format("woff"),
        url("../fonts/Nunito-Light.ttf") format("truetype"), url("../fonts/Nunito-Light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nunito-ExtraLight";
    src: url("../fonts/Nunito-ExtraLight.eot");
    src: local("☺"), url("../fonts/Nunito-ExtraLight.woff") format("woff"),
        url("../fonts/Nunito-ExtraLight.ttf") format("truetype"),
        url("../
        fonts/Nunito-ExtraLight.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nunito-LightItalic";
    src: url("../fonts/Nunito-LightItalic.eot");
    src: local("☺"), url("../fonts/Nunito-LightItalic.woff") format("woff"),
        url("../fonts/Nunito-LightItalic.ttf") format("truetype"), url("../fonts/Nunito-LightItalic.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
